.home-page {
    font-family: Arial, sans-serif;
  }
  
  .hero-section {
    position: relative;
    height: 100vh;
    background-image: url('https://t3.ftcdn.net/jpg/05/02/10/54/360_F_502105477_xuiSmb9srDtyp3qGRajgeoidBwvID3hk.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 50px;
    color: white;
  }
  
  .hero-text {
    max-width: 400px;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 8px;
  }
  
  .hero-text h1 {
    margin-bottom: 20px;
    font-size: 2.5em;
  }
  
  .hero-text p {
    margin: 10px 0;
    font-size: 1.2em;
  }
  
  .shop-now-btn {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #ff7f50;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .shop-now-btn a {
    text-decoration: none;
    color: white;
  }

  .shop-now-btn:hover {
    background-color: #e76a3c;
  }
  
  .categories-section {
    display: flex;
    justify-content: space-around;
    padding: 50px 20px;
    background-color: #f5f5f5;
  }
  
  .category-tile {
    flex: 1;
    max-width: 300px;
    background-color: white;
    padding: 20px;
    margin: 0 10px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
  }
  
  .category-tile:hover {
    transform: scale(1.05);
  }

  .categories-link{
    text-emphasis: none;
  }